---------------
    Deposit
---------------
deposit 1 without balance
deposit 1 with balance
deposit 1 twice
deposit 0 -> expected failure
deposit minus 1 -> expected failure

-----------------
    Withdrawal
-----------------

withdrawal 1 with a balance of 1
withdrawal 1 without balance -> expected failure
withdrawal 1 without balance and with allow overdraft of 1
    -> allow overdraft
withdrawal 1 with negative balance -> expected failure
withdrawal 1 with negative balance and with allow overdraft of 2
withdrawal 1 twice
withdrawal 0 -> expected failure
withdrawal minus 1 -> expected failure

-------------------------------------
    Account Statement and historic
-------------------------------------

Adding Operations
get operation between 2 dates
get balance between 2 dates

an initialized account should make no history
depositing once should make a history with one operation
withdrawing once should make a history with one operation
depositing and withdrawing once should make a history with two operations

deposit and withdraw twice should make history sorted by dates
the last operation should contain the final balance

